$primary-text-color: rgb(143, 189, 86);
$secondary-text-color: rgb(134, 142, 150);
$teritary-text-color: rgb(60, 162, 92);
$success-text-color: rgb(68, 132, 69);
$warning-text-color: rgb(231, 195, 84);
$danger-text-color: rgb(169, 68, 66);
$info-text-color: rgb(89, 173, 236);
$pink-text-color: rgb(245, 133, 152);
$red-text-color: rgb(227, 47, 47);
$orange-text-color: rgb(252, 115, 3);
$yellow-text-color: rgb(251, 176, 52);
$lime-text-color: rgb(123, 210, 53);
$green-text-color: rgb(78, 204, 72);
$teal-text-color: rgb(43, 203, 186);
$cyan-text-color: rgb(23, 162, 184);
$blue-text-color: rgb(70, 127, 207);
$persian-blue-text-color: rgb(54, 47, 113);
$indigo-text-color: rgb(101, 116, 205);
$purple-text-color: rgb(102, 31, 214);
$light-text-color: rgb(253, 254, 255);
$dark-text-color: rgb(52, 58, 64);
$azure-text-color: rgb(69, 170, 242);
$muted-text-color: rgb(108, 117, 125);

$primary-bg-hover-color: rgb(130, 192, 53);
$secondary-bg-hover-color: rgb(134, 142, 150);
$teritary-bg-hover-color: rgb(89, 236, 136);
$success-bg-hover-color: rgb(0, 128, 33);
$warning-bg-hover-color: rgb(230, 178, 67);
$danger-bg-hover-color: rgb(176, 10, 37);
$info-bg-hover-color: rgb(89, 173, 236);
$pink-bg-hover-color: rgb(245, 133, 152);
$red-bg-hover-color: rgb(227, 47, 47);
$orange-bg-hover-color: rgb(252, 115, 3);
$yellow-bg-hover-color: rgb(251, 176, 52);
$lime-bg-hover-color: rgb(123, 210, 53);
$green-bg-hover-color: rgb(78, 204, 72);
$teal-bg-hover-color: rgb(43, 203, 186);
$cyan-bg-hover-color: rgb(23, 162, 184);
$blue-bg-hover-color: rgb(70, 127, 207);
$persian-blue-bg-hover-color: rgb(54, 47, 113);
$indigo-bg-hover-color: rgb(101, 116, 205);
$purple-bg-hover-color: rgb(102, 31, 214);
$light-bg-hover-color: rgb(253, 254, 255);
$dark-bg-hover-color: rgb(52, 58, 64);
$azure-bg-hover-color: rgb(69, 170, 242);

$primary-bg-color: rgb(143, 189, 86);
$secondary-bg-color: rgb(134, 142, 150);
$teritary-bg-color: rgb(60, 162, 92);
$success-bg-color: rgb(16, 162, 67);
$warning-bg-color: rgb(231, 195, 84);
$danger-bg-color: rgb(209, 44, 71);
$info-bg-color: rgb(89, 173, 236);
$pink-bg-color: rgb(245, 133, 152);
$red-bg-color: rgb(227, 47, 47);
$orange-bg-color: rgb(252, 115, 3);
$yellow-bg-color: rgb(251, 176, 52);
$lime-bg-color: rgb(123, 210, 53);
$green-bg-color: rgb(78, 204, 72);
$teal-bg-color: rgb(43, 203, 186);
$cyan-bg-color: rgb(23, 162, 184);
$blue-bg-color: rgb(70, 127, 207);
$persian-blue-bg-color: rgb(54, 47, 113);
$indigo-bg-color: rgb(101, 116, 205);
$purple-bg-color: rgb(102, 31, 214);
$light-bg-color: rgb(253, 254, 255);
$dark-bg-color: rgb(52, 58, 64);
$azure-bg-color: rgb(69, 170, 242);

$primary-border-color: rgb(143, 189, 86);
$secondary-border-color: rgb(134, 142, 150);
$teritary-border-color: rgb(60, 162, 92);
$success-border-color: rgb(16, 164, 68);
$warning-border-color: rgb(231, 195, 84);
$danger-border-color: rgb(209, 44, 71);
$info-border-color: rgb(89, 173, 236);
$pink-border-color: rgb(245, 133, 152);
$red-border-color: rgb(227, 47, 47);
$orange-border-color: rgb(252, 115, 3);
$yellow-border-color: rgb(251, 176, 52);
$lime-border-color: rgb(123, 210, 53);
$green-border-color: rgb(78, 204, 72);
$teal-border-color: rgb(43, 203, 186);
$cyan-border-color: rgb(23, 162, 184);
$blue-border-color: rgb(70, 127, 207);
$persian-blue-border-color: rgb(54, 47, 113);
$indigo-border-color: rgb(101, 116, 205);
$purple-border-color: rgb(102, 31, 214);
$light-border-color: rgb(253, 254, 255);
$dark-border-color: rgb(52, 58, 64);
$azure-border-color: rgb(69, 170, 242);

$color-gray-100: rgb(249, 249, 251);
$color-gray-200: rgb(234, 237, 241);
$color-gray-300: rgb(228, 231, 237);
$color-gray-400: rgb(216, 219, 227);
$color-gray-500: rgb(197, 201, 211);
$color-gray-600: rgb(174, 179, 192);
$color-gray-700: rgb(142, 149, 166);
$color-gray-800: rgb(112, 122, 154);
$color-gray-900: rgb(52, 58, 64);

$color-white: rgb(255, 255, 255);
$color-white-1: rgba(255, 255, 255, 0.1);
$color-white-2: rgba(255, 255, 255, 0.2);
$color-white-3: rgba(255, 255, 255, 0.3);
$color-white-4: rgba(255, 255, 255, 0.4);
$color-white-5: rgba(255, 255, 255, 0.5);
$color-white-6: rgba(255, 255, 255, 0.6);
$color-white-7: rgba(255, 255, 255, 0.7);
$color-white-8: rgba(255, 255, 255, 0.8);
$color-white-9: rgba(255, 255, 255, 0.9);

$color-black: rgb(0, 0, 0);
$color-black-1: rgba(0, 0, 0, 0.1);
$color-black-2: rgba(0, 0, 0, 0.2);
$color-black-3: rgba(0, 0, 0, 0.3);
$color-black-4: rgba(0, 0, 0, 0.4);
$color-black-5: rgba(0, 0, 0, 0.5);
$color-black-6: rgba(0, 0, 0, 0.6);
$color-black-7: rgba(0, 0, 0, 0.7);
$color-black-8: rgba(0, 0, 0, 0.8);
$color-black-9: rgba(0, 0, 0, 0.9);

$dark-value: 10%;
$darker-value: 15%;
$darkest-value: 22%;

$light-value: 10%;
$lighter-value: 15%;
$lightest-value: 22%;

$xs-width: 320px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;