@import 'config';
@import "ngs-icons-urls";

input[type="tel"].tel-picker {
  //display: none !important;
}

div.tel-picker {
  display: flex;
  width: 100%;
  min-height: 1rem !important;
  position: relative;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;

  .tel-picker-country-select {
    padding: .375rem 0 .375rem 0;
    min-width: 1rem;
    width: 6.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border-right: 1px solid #ced4da;

    .country {
      padding-right: 2rem;
      text-align: right;
      user-select: none;
    }
  }

  .tel-picker-body {
    display: none;
    position: absolute;
    z-index: 1900;
    width: 25% !important;
    left: 0;
    margin-top: .1rem;

    background-color: $light-bg-color;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    padding: .2rem;

    &.open-top {
      bottom: 2.35rem;
    }

    &:not(.open-top) {
      top: 2.35rem;
    }

    .tel-picker-options {
      overflow-y: auto;
      max-height: 10rem;

      & div {
        margin-left: .4rem;
        padding-top: .2rem;
        padding-bottom: .2rem;
        padding-left: 2.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid #ced4da;
        }

        &:hover {
          background-color: $color-gray-100;
        }
      }
    }
  }

  &.active {
    .tel-picker-body {
      display: block;
    }
  }

  input {
    margin-left: .5rem;
    flex-grow: 1;
    flex-basis: 0;
    border: none !important;
    box-shadow: none !important;
  }

  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:not(:disabled):hover {
    cursor: pointer;
  }
  

  $countries: ["pl", "de", "gb", "us", "ru", "ua", "fr", "it", "es", "cn", "jp", "kr", "in", "br", "ca", "au", "mx", "id", "tr", "nl", "be", "se", "ch", "at", "no", "dk", "fi", "gr", "cz", "pt", "hu", "ie", "ro", "za", "sg", "my", "nz", "th", "ph", "il", "ae", "sa", "eg", "pk", "cl", "co", "vn", "ar", "bd", "dz", "ma", "ir", "iq"];
  
  @each $country in $countries {
    .flag-#{$country} {
      background: url('../../../lib/ngs-framework/assets/images/flags/#{$country}.svg') no-repeat;
      background-size: 1.8rem 1.8rem;
    }
  }
}

