@import "ngs-tools";

/*--------- Paddings--------------*/
@mixin ngs-padding($padding) {
  .p-#{$padding} {
    padding: #{$padding * .25}rem !important;
  }

  .pt-#{$padding},
  .py-#{$padding} {
    padding-top: #{$padding * .25}rem !important;
  }

  .pe-#{$padding},
  .px-#{$padding} {
    padding-right: #{$padding * .25}rem !important;
  }

  .pb-#{$padding},
  .py-#{$padding} {
    padding-bottom: #{$padding * .25}rem !important;
  }

  .ps-#{$padding},
  .px-#{$padding} {
    padding-left: #{$padding * .25}rem !important;
  }

  @media (min-width: ngs-min-width(xs)) {
    .p-xs-#{$padding} {
      padding: #{$padding * .25}rem !important;
    }

    .pt-xs-#{$padding},
    .py-xs-#{$padding} {
      padding-top: #{$padding * .25}rem !important;
    }

    .pe-xs-#{$padding},
    .px-xs-#{$padding} {
      padding-right: #{$padding * .25}rem !important;
    }

    .pb-xs-#{$padding},
    .py-xs-#{$padding} {
      padding-bottom: #{$padding * .25}rem !important;
    }

    .ps-xs-#{$padding},
    .px-xs-#{$padding} {
      padding-left: #{$padding * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(sm)) {
    .p-sm-#{$padding} {
      padding: #{$padding * .25}rem !important;
    }

    .pt-sm-#{$padding},
    .py-sm-#{$padding} {
      padding-top: #{$padding * .25}rem !important;
    }

    .pe-sm-#{$padding},
    .px-sm-#{$padding} {
      padding-right: #{$padding * .25}rem !important;
    }

    .pb-sm-#{$padding},
    .py-sm-#{$padding} {
      padding-bottom: #{$padding * .25}rem !important;
    }

    .ps-sm-#{$padding},
    .px-sm-#{$padding} {
      padding-left: #{$padding * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(md)) {
    .p-md-#{$padding} {
      padding: #{$padding * .25}rem !important;
    }

    .pt-md-#{$padding},
    .py-md-#{$padding} {
      padding-top: #{$padding * .25}rem !important;
    }

    .pe-md-#{$padding},
    .px-md-#{$padding} {
      padding-right: #{$padding * .25}rem !important;
    }

    .pb-md-#{$padding},
    .py-md-#{$padding} {
      padding-bottom: #{$padding * .25}rem !important;
    }

    .ps-md-#{$padding},
    .px-md-#{$padding} {
      padding-left: #{$padding * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(lg)) {
    .p-lg-#{$padding} {
      padding: #{$padding * .25}rem !important;
    }

    .pt-lg-#{$padding},
    .py-lg-#{$padding} {
      padding-top: #{$padding * .25}rem !important;
    }

    .pe-lg-#{$padding},
    .px-lg-#{$padding} {
      padding-right: #{$padding * .25}rem !important;
    }

    .pb-lg-#{$padding},
    .py-lg-#{$padding} {
      padding-bottom: #{$padding * .25}rem !important;
    }

    .ps-lg-#{$padding},
    .px-lg-#{$padding} {
      padding-left: #{$padding * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(xl)) {
    .p-xl-#{$padding} {
      padding: #{$padding * .25}rem !important;
    }

    .pt-xl-#{$padding},
    .py-xl-#{$padding} {
      padding-top: #{$padding * .25}rem !important;
    }

    .pe-xl-#{$padding},
    .px-xl-#{$padding} {
      padding-right: #{$padding * .25}rem !important;
    }

    .pb-xl-#{$padding},
    .py-xl-#{$padding} {
      padding-bottom: #{$padding * .25}rem !important;
    }

    .ps-xl-#{$padding},
    .px-xl-#{$padding} {
      padding-left: #{$padding * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(xxl)) {
    .p-xxl-#{$padding} {
      padding: #{$padding * .25}rem !important;
    }

    .pt-xxl-#{$padding},
    .py-xxl-#{$padding} {
      padding-top: #{$padding * .25}rem !important;
    }

    .pe-xxl-#{$padding},
    .px-xxl-#{$padding} {
      padding-right: #{$padding * .25}rem !important;
    }

    .pb-xxl-#{$padding},
    .py-xxl-#{$padding} {
      padding-bottom: #{$padding * .25}rem !important;
    }

    .ps-xxl-#{$padding},
    .px-xxl-#{$padding} {
      padding-left: #{$padding * .25}rem !important;
    }
  }
}

@for $i from 0 through 15 {
  @include ngs-padding($i);
}

/*--------- Margin--------------*/
@mixin ngs-margin($margin) {
  .m-#{$margin} {
    margin: #{$margin * .25}rem !important;
  }

  .mt-#{$margin},
  .my-#{$margin} {
    margin-top: #{$margin * .25}rem !important;
  }

  .me-#{$margin},
  .mx-#{$margin} {
    margin-right: #{$margin * .25}rem !important;
  }

  .mb-#{$margin},
  .my-#{$margin} {
    margin-bottom: #{$margin * .25}rem !important;
  }

  .ms-#{$margin},
  .mx-#{$margin} {
    margin-left: #{$margin * .25}rem !important;
  }

  @media (min-width: ngs-min-width(xs)) {
    .m-xs-#{$margin} {
      margin: #{$margin * .25}rem !important;
    }

    .mt-xs-#{$margin},
    .my-xs-#{$margin} {
      margin-top: #{$margin * .25}rem !important;
    }

    .me-xs-#{$margin},
    .mx-xs-#{$margin} {
      margin-right: #{$margin * .25}rem !important;
    }

    .mb-xs-#{$margin},
    .my-xs-#{$margin} {
      margin-bottom: #{$margin * .25}rem !important;
    }

    .ms-xs-#{$margin},
    .mx-xs-#{$margin} {
      margin-left: #{$margin * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(sm)) {
    .m-sm-#{$margin} {
      margin: #{$margin * .25}rem !important;
    }

    .mt-sm-#{$margin},
    .my-sm-#{$margin} {
      margin-top: #{$margin * .25}rem !important;
    }

    .me-sm-#{$margin},
    .mx-sm-#{$margin} {
      margin-right: #{$margin * .25}rem !important;
    }

    .mb-sm-#{$margin},
    .my-sm-#{$margin} {
      margin-bottom: #{$margin * .25}rem !important;
    }

    .ms-sm-#{$margin},
    .mx-sm-#{$margin} {
      margin-left: #{$margin * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(md)) {
    .m-md-#{$margin} {
      margin: #{$margin * .25}rem !important;
    }

    .mt-md-#{$margin},
    .my-md-#{$margin} {
      margin-top: #{$margin * .25}rem !important;
    }

    .me-md-#{$margin},
    .mx-md-#{$margin} {
      margin-right: #{$margin * .25}rem !important;
    }

    .mb-md-#{$margin},
    .my-md-#{$margin} {
      margin-bottom: #{$margin * .25}rem !important;
    }

    .ms-md-#{$margin},
    .mx-md-#{$margin} {
      margin-left: #{$margin * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(lg)) {
    .m-lg-#{$margin} {
      margin: #{$margin * .25}rem !important;
    }

    .mt-lg-#{$margin},
    .my-lg-#{$margin} {
      margin-top: #{$margin * .25}rem !important;
    }

    .me-lg-#{$margin},
    .mx-lg-#{$margin} {
      margin-right: #{$margin * .25}rem !important;
    }

    .mb-lg-#{$margin},
    .my-lg-#{$margin} {
      margin-bottom: #{$margin * .25}rem !important;
    }

    .ms-lg-#{$margin},
    .mx-lg-#{$margin} {
      margin-left: #{$margin * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(xl)) {
    .m-xl-#{$margin} {
      margin: #{$margin * .25}rem !important;
    }

    .mt-xl-#{$margin},
    .my-xl-#{$margin} {
      margin-top: #{$margin * .25}rem !important;
    }

    .me-xl-#{$margin},
    .mx-xl-#{$margin} {
      margin-right: #{$margin * .25}rem !important;
    }

    .mb-xl-#{$margin},
    .my-xl-#{$margin} {
      margin-bottom: #{$margin * .25}rem !important;
    }

    .ms-xl-#{$margin},
    .mx-xl-#{$margin} {
      margin-left: #{$margin * .25}rem !important;
    }
  }

  @media (min-width: ngs-min-width(xxl)) {
    .m-xxl-#{$margin} {
      margin: #{$margin * .25}rem !important;
    }

    .mt-xxl-#{$margin},
    .my-xxl-#{$margin} {
      margin-top: #{$margin * .25}rem !important;
    }

    .me-xxl-#{$margin},
    .mx-xxl-#{$margin} {
      margin-right: #{$margin * .25}rem !important;
    }

    .mb-xxl-#{$margin},
    .my-xxl-#{$margin} {
      margin-bottom: #{$margin * .25}rem !important;
    }

    .ms-xxl-#{$margin},
    .mx-xxl-#{$margin} {
      margin-left: #{$margin * .25}rem !important;
    }
  }
}

@for $i from 0 through 15 {
  @include ngs-margin($i);
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.me-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ms-auto,
.mx-auto {
  margin-left: auto !important;
}

@media (min-width: ngs-min-width(xs)) {
  .m-xs-auto {
    margin: auto !important;
  }

  .mt-xs-auto,
  .my-xs-auto {
    margin-top: auto !important;
  }

  .me-xs-auto,
  .mx-xs-auto {
    margin-right: auto !important;
  }

  .mb-xs-auto,
  .my-xs-auto {
    margin-bottom: auto !important;
  }

  .ms-xs-auto,
  .mx-xs-auto {
    margin-left: auto !important;
  }
}

@media (min-width: ngs-min-width(sm)) {
  .m-sm-auto {
    margin: auto !important;
  }

  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important;
  }

  .me-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important;
  }

  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important;
  }

  .ms-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important;
  }
}

@media (min-width: ngs-min-width(md)) {
  .m-md-auto {
    margin: auto !important;
  }

  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important;
  }

  .me-md-auto,
  .mx-md-auto {
    margin-right: auto !important;
  }

  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important;
  }

  .ms-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }
}

@media (min-width: ngs-min-width(lg)) {
  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important;
  }

  .me-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important;
  }

  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important;
  }

  .ms-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }
}

@media (min-width: ngs-min-width(xl)) {
  .m-xl-auto {
    margin: auto !important;
  }

  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important;
  }

  .me-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important;
  }

  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important;
  }

  .ms-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important;
  }
}

@media (min-width: ngs-min-width(xxl)) {
  .m-xxl-auto {
    margin: auto !important;
  }

  .mt-xxl-auto,
  .my-xxl-auto {
    margin-top: auto !important;
  }

  .me-xxl-auto,
  .mx-xxl-auto {
    margin-right: auto !important;
  }

  .mb-xxl-auto,
  .my-xxl-auto {
    margin-bottom: auto !important;
  }

  .ms-xxl-auto,
  .mx-xxl-auto {
    margin-left: auto !important;
  }
}

/*--------- Width--------------*/

@for $i from 1 through 12 {
  .w-#{$i} {
    width: percentage($i * 0.0833333333) !important;
  }

  .w-max-#{$i} {
    max-width: percentage($i * 0.0833333333) !important;
  }

  .w-min-#{$i} {
    min-width: percentage($i * 0.0833333333) !important;
  }

  @media (min-width: ngs-min-width(xs)) {
    .w-xs-#{$i} {
      width: percentage($i * 0.0833333333) !important;
    }

    .w-xs-max-#{$i} {
      max-width: percentage($i * 0.0833333333) !important;
    }

    .w-xs-min-#{$i} {
      min-width: percentage($i * 0.0833333333) !important;
    }
  }

  @media (min-width: ngs-min-width(sm)) {
    .w-sm-#{$i} {
      width: percentage($i * 0.0833333333) !important;
    }

    .w-sm-max-#{$i} {
      max-width: percentage($i * 0.0833333333) !important;
    }

    .w-sm-min-#{$i} {
      min-width: percentage($i * 0.0833333333) !important;
    }
  }

  @media (min-width: ngs-min-width(md)) {
    .w-md-#{$i} {
      width: percentage($i * 0.0833333333) !important;
    }

    .w-md-max-#{$i} {
      max-width: percentage($i * 0.0833333333) !important;
    }

    .w-md-min-#{$i} {
      min-width: percentage($i * 0.0833333333) !important;
    }
  }

  @media (min-width: ngs-min-width(lg)) {
    .w-lg-#{$i} {
      width: percentage($i * 0.0833333333) !important;
    }

    .w-lg-max-#{$i} {
      max-width: percentage($i * 0.0833333333) !important;
    }

    .w-lg-min-#{$i} {
      min-width: percentage($i * 0.0833333333) !important;
    }
  }

  @media (min-width: ngs-min-width(xl)) {
    .w-xl-#{$i} {
      width: percentage($i * 0.0833333333) !important;
    }

    .w-xl-max-#{$i} {
      max-width: percentage($i * 0.0833333333) !important;
    }

    .w-xl-min-#{$i} {
      min-width: percentage($i * 0.0833333333) !important;
    }
  }

  @media (min-width: ngs-min-width(xxl)) {
    .w-xxl-#{$i} {
      width: percentage($i * 0.0833333333) !important;
    }

    .w-xxl-max-#{$i} {
      max-width: percentage($i * 0.0833333333) !important;
    }

    .w-xxl-min-#{$i} {
      min-width: percentage($i * 0.0833333333) !important;
    }
  }
}

@for $i from 1 through 15 {
  .w-#{$i}-rem {
    width: #{$i * 0.25}rem !important;
  }

  .w-max-#{$i}-rem {
    max-width: #{$i}rem !important;
  }

  .w-min-#{$i}-rem {
    min-width: #{$i}rem !important;
  }

  .w-#{$i}-em {
    width: #{$i}em !important;
  }

  .w-max-#{$i}-em {
    max-width: #{$i}em !important;
  }

  .w-min-#{$i}-em {
    min-width: #{$i}em !important;
  }

  @media (min-width: ngs-min-width(xs)) {
    .w-xs-#{$i}-rem {
      width: #{$i}rem !important;
    }

    .w-xs-max-#{$i}-rem {
      max-width: #{$i}rem !important;
    }

    .w-xs-min-#{$i}-rem {
      min-width: #{$i}rem !important;
    }

    .w-xs-#{$i}-em {
      width: #{$i}em !important;
    }

    .w-xs-max-#{$i}-em {
      max-width: #{$i}em !important;
    }

    .w-xs-min-#{$i}-em {
      min-width: #{$i}em !important;
    }
  }

  @media (min-width: ngs-min-width(sm)) {
    .w-sm-#{$i}-rem {
      width: #{$i}rem !important;
    }

    .w-sm-max-#{$i}-rem {
      max-width: #{$i}rem !important;
    }

    .w-sm-min-#{$i}-rem {
      min-width: #{$i}rem !important;
    }

    .w-sm-#{$i}-em {
      width: #{$i}em !important;
    }

    .w-sm-max-#{$i}-em {
      max-width: #{$i}em !important;
    }

    .w-sm-min-#{$i}-em {
      min-width: #{$i}em !important;
    }
  }

  @media (min-width: ngs-min-width(md)) {
    .w-md-#{$i}-rem {
      width: #{$i}rem !important;
    }

    .w-md-max-#{$i}-rem {
      max-width: #{$i}rem !important;
    }

    .w-md-min-#{$i}-rem {
      min-width: #{$i}rem !important;
    }

    .w-md-#{$i}-em {
      width: #{$i}em !important;
    }

    .w-md-max-#{$i}-em {
      max-width: #{$i}em !important;
    }

    .w-md-min-#{$i}-em {
      min-width: #{$i}em !important;
    }
  }

  @media (min-width: ngs-min-width(lg)) {
    .w-lg-#{$i}-rem {
      width: #{$i}rem !important;
    }

    .w-lg-max-#{$i}-rem {
      max-width: #{$i}rem !important;
    }

    .w-lg-min-#{$i}-rem {
      min-width: #{$i}rem !important;
    }

    .w-lg-#{$i}-em {
      width: #{$i}em !important;
    }

    .w-lg-max-#{$i}-em {
      max-width: #{$i}em !important;
    }

    .w-lg-min-#{$i}-em {
      min-width: #{$i}em !important;
    }
  }

  @media (min-width: ngs-min-width(xl)) {
    .w-xl-#{$i}-rem {
      width: #{$i}rem !important;
    }

    .w-xl-max-#{$i}-rem {
      max-width: #{$i}rem !important;
    }

    .w-xl-min-#{$i}-rem {
      min-width: #{$i}rem !important;
    }

    .w-xl-#{$i}-em {
      width: #{$i}em !important;
    }

    .w-xl-max-#{$i}-em {
      max-width: #{$i}em !important;
    }

    .w-xl-min-#{$i}-em {
      min-width: #{$i}em !important;
    }
  }
}

/*--------- Height --------------*/

@for $i from 1 through 12 {
  .h-#{$i} {
    height: percentage($i * 0.0833333333) !important;
  }

  .h-max-#{$i} {
    max-height: percentage($i * 0.0833333333) !important;
  }

  .h-min-#{$i} {
    min-height: percentage($i * 0.0833333333) !important;
  }

  @media (min-width: ngs-min-width(xs)) {
    .h-xs-#{$i} {
      height: percentage($i * 0.0833333333) !important;
    }

    .h-xs-max-#{$i} {
      max-height: percentage($i * 0.0833333333) !important;
    }

    .h-xs-min-#{$i} {
      min-height: percentage($i * 0.0833333333) !important;
    }
  }

  @media (min-width: ngs-min-width(sm)) {
    .h-sm-#{$i} {
      height: percentage($i * 0.0833333333) !important;
    }

    .h-sm-max-#{$i} {
      max-height: percentage($i * 0.0833333333) !important;
    }

    .h-sm-min-#{$i} {
      min-height: percentage($i * 0.0833333333) !important;
    }
  }

  @media (min-width: ngs-min-width(md)) {
    .h-md-#{$i} {
      height: percentage($i * 0.0833333333) !important;
    }

    .h-md-max-#{$i} {
      max-height: percentage($i * 0.0833333333) !important;
    }

    .h-md-min-#{$i} {
      min-height: percentage($i * 0.0833333333) !important;
    }
  }

  @media (min-width: ngs-min-width(lg)) {
    .h-lg-#{$i} {
      height: percentage($i * 0.0833333333) !important;
    }

    .h-lg-max-#{$i} {
      max-height: percentage($i * 0.0833333333) !important;
    }

    .h-lg-min-#{$i} {
      min-height: percentage($i * 0.0833333333) !important;
    }
  }
  
    @media (min-width: ngs-min-width(xl)) {
        .h-xl-#{$i} {
        height: percentage($i * 0.0833333333) !important;
        }
    
        .h-xl-max-#{$i} {
        max-height: percentage($i * 0.0833333333) !important;
        }
    
        .h-xl-min-#{$i} {
        min-height: percentage($i * 0.0833333333) !important;
        }
    }
  
    @media (min-width: ngs-min-width(xxl)) {
        .h-xxl-#{$i} {
        height: percentage($i * 0.0833333333) !important;
        }
    
        .h-xxl-max-#{$i} {
        max-height: percentage($i * 0.0833333333) !important;
        }
    
        .h-xxl-min-#{$i} {
        min-height: percentage($i * 0.0833333333) !important;
        }
    }
}

@for $i from 1 through 15 {
    .h-#{$i}-rem {
        height: #{$i * 0.25}rem !important;
    }
  
    .h-max-#{$i}-rem {
        max-height: #{$i}rem !important;
    }
  
    .h-min-#{$i}-rem {
        min-height: #{$i}rem !important;
    }
  
    .h-#{$i}-em {
        height: #{$i}em !important;
    }
  
    .h-max-#{$i}-em {
        max-height: #{$i}em !important;
    }
  
    .h-min-#{$i}-em {
        min-height: #{$i}em !important;
    }
  
    @media (min-width: ngs-min-width(xs)) {
        .h-xs-#{$i}-rem {
        height: #{$i}rem !important;
        }
    
        .h-xs-max-#{$i}-rem {
        max-height: #{$i}rem !important;
        }
    
        .h-xs-min-#{$i}-rem {
        min-height: #{$i}rem !important;
        }
    
        .h-xs-#{$i}-em {
        height: #{$i}em !important;
        }
    
        .h-xs-max-#{$i}-em {
        max-height: #{$i}em !important;
        }
    
        .h-xs-min-#{$i}-em {
        min-height: #{$i}em !important;
        }
    }
  
    @media (min-width: ngs-min-width(sm)) {
        .h-sm-#{$i}-rem {
        height: #{$i}rem !important;
        }
    
        .h-sm-max-#{$i}-rem {
        max-height: #{$i}rem !important;
        }
    
        .h-sm-min-#{$i}-rem {
        min-height: #{$i}rem !important;
        }
    
        .h-sm-#{$i}-em {
        height: #{$i}em !important;
        }
    
        .h-sm-max-#{$i}-em {
        max-height: #{$i}em !important;
        }
    
        .h-sm-min-#{$i}-em {
        min-height: #{$i}em !important;
        }
    }
  
    @media (min-width: ngs-min-width(md)) {
        .h-md-#{$i}-rem {
        height: #{$i}rem !important;
        }
    
        .h-md-max-#{$i}-rem {
        max-height: #{$i}rem !important;
        }
    
        .h-md-min-#{$i}-rem {
        min-height: #{$i}rem !important;
        }
    
        .h-md-#{$i}-em {
        height: #{$i}em !important;
        }
    
        .h-md-max-#{$i}-em {
        max-height: #{$i}em !important;
        }
    
        .h-md-min-#{$i}-em {
        min-height: #{$i}em !important;
        }
    }
  
    @media (min-width: ngs-min-width(lg)) {
        .h-lg-#{$i}-rem {
        height: #{$i}rem !important;
        }
    
        .h-lg-max-#{$i}-rem {
        max-height: #{$i}rem !important;
        }
    
        .h-lg-min-#{$i}-rem {
        min-height: #{$i}rem !important;
        }
    
        .h-lg-#{$i}-em {
        height: #{$i}em !important;
        }
    
        .h-lg-max-#{$i}-em {
        max-height: #{$i}em !important;
        }
    
        .h-lg-min-#{$i}-em {
        min-height: #{$i}em !important;
        }
    }
  
    @media (min-width: ngs-min-width(xl)) {
        .h-xl-#{$i}-rem {
        height: #{$i}rem !important;
        }
    
        .h-xl-max-#{$i}-rem {
        max-height: #{$i}rem !important;
        }
    
        .h-xl-min-#{$i}-rem {
        min-height: #{$i}rem !important;
        }
    
        .h-xl-#{$i}-em {
        height: #{$i}em !important;
        }
    
        .h-xl-max-#{$i}-em {
        max-height: #{$i}em !important;
        }
    
        .h-xl-min-#{$i}-em {
        min-height: #{$i}em !important;
        }
    }
  
    @media (min-width: ngs-min-width(xxl)) {
        .h-xxl-#{$i}-rem {
        height: #{$i}rem !important;
        }
    
        .h-xxl-max-#{$i}-rem {
        max-height: #{$i}rem !important;
        }
    
        .h-xxl-min-#{$i}-rem {
        min-height: #{$i}rem !important;
        }
    
        .h-xxl-#{$i}-em {
        height: #{$i}em !important;
        }
    
        .h-xxl-max-#{$i}-em {
        max-height: #{$i}em !important;
        }
    
        .h-xxl-min-#{$i}-em {
        min-height: #{$i}em !important;
        }
    }
}

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-1 {
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-2 {
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-5 {
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-8 {
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-11 {
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .order-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
    order: 13;
  }

  .order-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
    order: 0;
  }

  .order-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .order-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2;
  }

  .order-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
    order: 3;
  }

  .order-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
    order: 4;
  }

  .order-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
    order: 5;
  }

  .order-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
    order: 6;
  }

  .order-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
    order: 7;
  }

  .order-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
    order: 8;
  }

  .order-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
    order: 9;
  }

  .order-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
    order: 10;
  }

  .order-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
    order: 11;
  }

  .order-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
    order: 12;
  }

  .offset-1 {
    margin-left: 8.33333333%;
  }

  .offset-2 {
    margin-left: 16.66666667%;
  }

  .offset-3 {
    margin-left: 25%;
  }

  .offset-4 {
    margin-left: 33.33333333%;
  }

  .offset-5 {
    margin-left: 41.66666667%;
  }

  .offset-6 {
    margin-left: 50%;
  }

  .offset-7 {
    margin-left: 58.33333333%;
  }

  .offset-8 {
    margin-left: 66.66666667%;
  }

  .offset-9 {
    margin-left: 75%;
  }

  .offset-10 {
    margin-left: 83.33333333%;
  }

  .offset-11 {
    margin-left: 91.66666667%;
  }

  @media (min-width: ngs-min-width(sm)) {
    .col-sm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-sm-auto {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-sm-1 {
      -ms-flex: 0 0 8.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 8.33333333%;
      max-width: 8.33333333%;
    }
    .col-sm-2 {
      -ms-flex: 0 0 16.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
    .col-sm-3 {
      -ms-flex: 0 0 25%;
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-sm-4 {
      -ms-flex: 0 0 33.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    .col-sm-5 {
      -ms-flex: 0 0 41.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
    .col-sm-6 {
      -ms-flex: 0 0 50%;
      -webkit-box-flex: 0;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-sm-7 {
      -ms-flex: 0 0 58.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
    .col-sm-8 {
      -ms-flex: 0 0 66.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
    .col-sm-9 {
      -ms-flex: 0 0 75%;
      -webkit-box-flex: 0;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-sm-10 {
      -ms-flex: 0 0 83.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
    .col-sm-11 {
      -ms-flex: 0 0 91.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
    .col-sm-12 {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .order-sm-first {
      -ms-flex-order: -1;
      -webkit-box-ordinal-group: 0;
      order: -1;
    }
    .order-sm-last {
      -ms-flex-order: 13;
      -webkit-box-ordinal-group: 14;
      order: 13;
    }
    .order-sm-0 {
      -ms-flex-order: 0;
      -webkit-box-ordinal-group: 1;
      order: 0;
    }
    .order-sm-1 {
      -ms-flex-order: 1;
      -webkit-box-ordinal-group: 2;
      order: 1;
    }
    .order-sm-2 {
      -ms-flex-order: 2;
      -webkit-box-ordinal-group: 3;
      order: 2;
    }
    .order-sm-3 {
      -ms-flex-order: 3;
      -webkit-box-ordinal-group: 4;
      order: 3;
    }
    .order-sm-4 {
      -ms-flex-order: 4;
      -webkit-box-ordinal-group: 5;
      order: 4;
    }
    .order-sm-5 {
      -ms-flex-order: 5;
      -webkit-box-ordinal-group: 6;
      order: 5;
    }
    .order-sm-6 {
      -ms-flex-order: 6;
      -webkit-box-ordinal-group: 7;
      order: 6;
    }
    .order-sm-7 {
      -ms-flex-order: 7;
      -webkit-box-ordinal-group: 8;
      order: 7;
    }
    .order-sm-8 {
      -ms-flex-order: 8;
      -webkit-box-ordinal-group: 9;
      order: 8;
    }
    .order-sm-9 {
      -ms-flex-order: 9;
      -webkit-box-ordinal-group: 10;
      order: 9;
    }
    .order-sm-10 {
      -ms-flex-order: 10;
      -webkit-box-ordinal-group: 11;
      order: 10;
    }
    .order-sm-11 {
      -ms-flex-order: 11;
      -webkit-box-ordinal-group: 12;
      order: 11;
    }
    .order-sm-12 {
      -ms-flex-order: 12;
      -webkit-box-ordinal-group: 13;
      order: 12;
    }
    .offset-sm-0 {
      margin-left: 0;
    }
    .offset-sm-1 {
      margin-left: 8.33333333%;
    }
    .offset-sm-2 {
      margin-left: 16.66666667%;
    }
    .offset-sm-3 {
      margin-left: 25%;
    }
    .offset-sm-4 {
      margin-left: 33.33333333%;
    }
    .offset-sm-5 {
      margin-left: 41.66666667%;
    }
    .offset-sm-6 {
      margin-left: 50%;
    }
    .offset-sm-7 {
      margin-left: 58.33333333%;
    }
    .offset-sm-8 {
      margin-left: 66.66666667%;
    }
    .offset-sm-9 {
      margin-left: 75%;
    }
    .offset-sm-10 {
      margin-left: 83.33333333%;
    }
    .offset-sm-11 {
      margin-left: 91.66666667%;
    }
  }

  @media (min-width: ngs-min-width(md)) {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-md-auto {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-md-1 {
      -ms-flex: 0 0 8.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 8.33333333%;
      max-width: 8.33333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      -webkit-box-flex: 0;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      -webkit-box-flex: 0;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .order-md-first {
      -ms-flex-order: -1;
      -webkit-box-ordinal-group: 0;
      order: -1;
    }
    .order-md-last {
      -ms-flex-order: 13;
      -webkit-box-ordinal-group: 14;
      order: 13;
    }
    .order-md-0 {
      -ms-flex-order: 0;
      -webkit-box-ordinal-group: 1;
      order: 0;
    }
    .order-md-1 {
      -ms-flex-order: 1;
      -webkit-box-ordinal-group: 2;
      order: 1;
    }
    .order-md-2 {
      -ms-flex-order: 2;
      -webkit-box-ordinal-group: 3;
      order: 2;
    }
    .order-md-3 {
      -ms-flex-order: 3;
      -webkit-box-ordinal-group: 4;
      order: 3;
    }
    .order-md-4 {
      -ms-flex-order: 4;
      -webkit-box-ordinal-group: 5;
      order: 4;
    }
    .order-md-5 {
      -ms-flex-order: 5;
      -webkit-box-ordinal-group: 6;
      order: 5;
    }
    .order-md-6 {
      -ms-flex-order: 6;
      -webkit-box-ordinal-group: 7;
      order: 6;
    }
    .order-md-7 {
      -ms-flex-order: 7;
      -webkit-box-ordinal-group: 8;
      order: 7;
    }
    .order-md-8 {
      -ms-flex-order: 8;
      -webkit-box-ordinal-group: 9;
      order: 8;
    }
    .order-md-9 {
      -ms-flex-order: 9;
      -webkit-box-ordinal-group: 10;
      order: 9;
    }
    .order-md-10 {
      -ms-flex-order: 10;
      -webkit-box-ordinal-group: 11;
      order: 10;
    }
    .order-md-11 {
      -ms-flex-order: 11;
      -webkit-box-ordinal-group: 12;
      order: 11;
    }
    .order-md-12 {
      -ms-flex-order: 12;
      -webkit-box-ordinal-group: 13;
      order: 12;
    }
    .offset-md-0 {
      margin-left: 0;
    }
    .offset-md-1 {
      margin-left: 8.33333333%;
    }
    .offset-md-2 {
      margin-left: 16.66666667%;
    }
    .offset-md-3 {
      margin-left: 25%;
    }
    .offset-md-4 {
      margin-left: 33.33333333%;
    }
    .offset-md-5 {
      margin-left: 41.66666667%;
    }
    .offset-md-6 {
      margin-left: 50%;
    }
    .offset-md-7 {
      margin-left: 58.33333333%;
    }
    .offset-md-8 {
      margin-left: 66.66666667%;
    }
    .offset-md-9 {
      margin-left: 75%;
    }
    .offset-md-10 {
      margin-left: 83.33333333%;
    }
    .offset-md-11 {
      margin-left: 91.66666667%;
    }
  }

  @media (min-width: ngs-min-width(lg)) {
    .col-lg {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-lg-auto {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-lg-1 {
      -ms-flex: 0 0 8.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 8.33333333%;
      max-width: 8.33333333%;
    }
    .col-lg-2 {
      -ms-flex: 0 0 16.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
    .col-lg-3 {
      -ms-flex: 0 0 25%;
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-lg-4 {
      -ms-flex: 0 0 33.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    .col-lg-5 {
      -ms-flex: 0 0 41.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
    .col-lg-6 {
      -ms-flex: 0 0 50%;
      -webkit-box-flex: 0;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-lg-7 {
      -ms-flex: 0 0 58.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
    .col-lg-8 {
      -ms-flex: 0 0 66.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
    .col-lg-9 {
      -ms-flex: 0 0 75%;
      -webkit-box-flex: 0;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-lg-10 {
      -ms-flex: 0 0 83.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
    .col-lg-11 {
      -ms-flex: 0 0 91.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
    .col-lg-12 {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .order-lg-first {
      -ms-flex-order: -1;
      -webkit-box-ordinal-group: 0;
      order: -1;
    }
    .order-lg-last {
      -ms-flex-order: 13;
      -webkit-box-ordinal-group: 14;
      order: 13;
    }
    .order-lg-0 {
      -ms-flex-order: 0;
      -webkit-box-ordinal-group: 1;
      order: 0;
    }
    .order-lg-1 {
      -ms-flex-order: 1;
      -webkit-box-ordinal-group: 2;
      order: 1;
    }
    .order-lg-2 {
      -ms-flex-order: 2;
      -webkit-box-ordinal-group: 3;
      order: 2;
    }
    .order-lg-3 {
      -ms-flex-order: 3;
      -webkit-box-ordinal-group: 4;
      order: 3;
    }
    .order-lg-4 {
      -ms-flex-order: 4;
      -webkit-box-ordinal-group: 5;
      order: 4;
    }
    .order-lg-5 {
      -ms-flex-order: 5;
      -webkit-box-ordinal-group: 6;
      order: 5;
    }
    .order-lg-6 {
      -ms-flex-order: 6;
      -webkit-box-ordinal-group: 7;
      order: 6;
    }
    .order-lg-7 {
      -ms-flex-order: 7;
      -webkit-box-ordinal-group: 8;
      order: 7;
    }
    .order-lg-8 {
      -ms-flex-order: 8;
      -webkit-box-ordinal-group: 9;
      order: 8;
    }
    .order-lg-9 {
      -ms-flex-order: 9;
      -webkit-box-ordinal-group: 10;
      order: 9;
    }
    .order-lg-10 {
      -ms-flex-order: 10;
      -webkit-box-ordinal-group: 11;
      order: 10;
    }
    .order-lg-11 {
      -ms-flex-order: 11;
      -webkit-box-ordinal-group: 12;
      order: 11;
    }
    .order-lg-12 {
      -ms-flex-order: 12;
      -webkit-box-ordinal-group: 13;
      order: 12;
    }
    .offset-lg-0 {
      margin-left: 0;
    }
    .offset-lg-1 {
      margin-left: 8.33333333%;
    }
    .offset-lg-2 {
      margin-left: 16.66666667%;
    }
    .offset-lg-3 {
      margin-left: 25%;
    }
    .offset-lg-4 {
      margin-left: 33.33333333%;
    }
    .offset-lg-5 {
      margin-left: 41.66666667%;
    }
    .offset-lg-6 {
      margin-left: 50%;
    }
    .offset-lg-7 {
      margin-left: 58.33333333%;
    }
    .offset-lg-8 {
      margin-left: 66.66666667%;
    }
    .offset-lg-9 {
      margin-left: 75%;
    }
    .offset-lg-10 {
      margin-left: 83.33333333%;
    }
    .offset-lg-11 {
      margin-left: 91.66666667%;
    }
  }

  @media (min-width: ngs-min-width(xl)) {
    .col-xl {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-xl-auto {
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-xl-1 {
      -ms-flex: 0 0 8.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 8.33333333%;
      max-width: 8.33333333%;
    }
    .col-xl-2 {
      -ms-flex: 0 0 16.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
    .col-xl-3 {
      -ms-flex: 0 0 25%;
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-xl-4 {
      -ms-flex: 0 0 33.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
    .col-xl-5 {
      -ms-flex: 0 0 41.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
    .col-xl-6 {
      -ms-flex: 0 0 50%;
      -webkit-box-flex: 0;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-xl-7 {
      -ms-flex: 0 0 58.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
    .col-xl-8 {
      -ms-flex: 0 0 66.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
    .col-xl-9 {
      -ms-flex: 0 0 75%;
      -webkit-box-flex: 0;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-xl-10 {
      -ms-flex: 0 0 83.33333333%;
      -webkit-box-flex: 0;
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
    .col-xl-11 {
      -ms-flex: 0 0 91.66666667%;
      -webkit-box-flex: 0;
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
    .col-xl-12 {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .order-xl-first {
      -ms-flex-order: -1;
      -webkit-box-ordinal-group: 0;
      order: -1;
    }
    .order-xl-last {
      -ms-flex-order: 13;
      -webkit-box-ordinal-group: 14;
      order: 13;
    }
    .order-xl-0 {
      -ms-flex-order: 0;
      -webkit-box-ordinal-group: 1;
      order: 0;
    }
    .order-xl-1 {
      -ms-flex-order: 1;
      -webkit-box-ordinal-group: 2;
      order: 1;
    }
    .order-xl-2 {
      -ms-flex-order: 2;
      -webkit-box-ordinal-group: 3;
      order: 2;
    }
    .order-xl-3 {
      -ms-flex-order: 3;
      -webkit-box-ordinal-group: 4;
      order: 3;
    }
    .order-xl-4 {
      -ms-flex-order: 4;
      -webkit-box-ordinal-group: 5;
      order: 4;
    }
    .order-xl-5 {
      -ms-flex-order: 5;
      -webkit-box-ordinal-group: 6;
      order: 5;
    }
    .order-xl-6 {
      -ms-flex-order: 6;
      -webkit-box-ordinal-group: 7;
      order: 6;
    }
    .order-xl-7 {
      -ms-flex-order: 7;
      -webkit-box-ordinal-group: 8;
      order: 7;
    }
    .order-xl-8 {
      -ms-flex-order: 8;
      -webkit-box-ordinal-group: 9;
      order: 8;
    }
    .order-xl-9 {
      -ms-flex-order: 9;
      -webkit-box-ordinal-group: 10;
      order: 9;
    }
    .order-xl-10 {
      -ms-flex-order: 10;
      -webkit-box-ordinal-group: 11;
      order: 10;
    }
    .order-xl-11 {
      -ms-flex-order: 11;
      -webkit-box-ordinal-group: 12;
      order: 11;
    }
    .order-xl-12 {
      -ms-flex-order: 12;
      -webkit-box-ordinal-group: 13;
      order: 12;
    }
    .offset-xl-0 {
      margin-left: 0;
    }
    .offset-xl-1 {
      margin-left: 8.33333333%;
    }
    .offset-xl-2 {
      margin-left: 16.66666667%;
    }
    .offset-xl-3 {
      margin-left: 25%;
    }
    .offset-xl-4 {
      margin-left: 33.33333333%;
    }
    .offset-xl-5 {
      margin-left: 41.66666667%;
    }
    .offset-xl-6 {
      margin-left: 50%;
    }
    .offset-xl-7 {
      margin-left: 58.33333333%;
    }
    .offset-xl-8 {
      margin-left: 66.66666667%;
    }
    .offset-xl-9 {
      margin-left: 75%;
    }
    .offset-xl-10 {
      margin-left: 83.33333333%;
    }
    .offset-xl-11 {
      margin-left: 91.66666667%;
    }
  }