@import 'config';

@mixin ngs-transition($property, $duration,$timing, $delay) {
  transition: $property $duration $timing $delay;
}

@mixin ngs-transition-delay($name, $delay) {
  .transition-delay-#{$name} {
    transition-delay: $delay;
  }

  @media screen and (min-width: $sm-width) {
    .transition-sm-delay-#{$name} {
      transition-delay: $delay;
    }
  }

  @media screen and (min-width: $md-width) {
    .transition-md-delay-#{$name} {
      transition-delay: $delay;
    }
  }

  @media screen and (min-width: $lg-width) {
    .transition-lg-delay-#{$name} {
      transition-delay: $delay;
    }
  }

  @media screen and (min-width: $xl-width) {
    .transition-xl-delay-#{$name} {
      transition-delay: $delay;
    }
  }
}

.ping {
  @include ngs-transition(all, 1s, ease-in-out, 0s);
  transform: scale(1);
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) both;
}

@keyframes ping {
  0%,
  50%,
  100% {
    opacity: 1;
    scale: 1;
  }
  25%,
  75% {
    opacity: 0.8;
    scale: 1.1;
  }
}
