@import "../../../styles/config";

.dataTables_wrapper .dataTables_paginate {
  color: $dark-text-color !important;

  .paginate_button {
    background: $light-bg-color none !important;
    border-color: $color-gray-400 !important;

    &:not(.disabled):hover {
      background-color: $primary-bg-color !important;
      border-color: $color-gray-400 !important;
      border-radius: 3px !important;
      color: $light-text-color !important;
    }

    &.current {
      background-color: $primary-text-color !important;
      border-color: $primary-text-color !important;
      color: $light-text-color !important;

      &:hover {
        background-color: lighten($primary-bg-color, $light-value) !important;
        border-color: lighten($primary-border-color, $light-value) !important;
        color: $light-text-color !important;
      }
    }
  }
}

.dataTables_info {
  margin-left: 0 !important;
  margin-top: .25rem !important;
  color: $dark-text-color !important;
  padding: 0.5rem !important;
  border: 1px solid $color-gray-400 !important;
  border-radius: 3px !important;  
}