.no-select{
    -webkit-user-select: none; /* WebKit (Chrome, Safari) */
    -moz-user-select: none; /* Gecko (Firefox) */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* CSS3 */
}

.no-focus{
    user-focus: none;
}